{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block regBtn %}
{% endblock %}

{% block content %}
    <div class="container pt-md-5 pb-md-5 ">
        <div class="row text-center h-100 align-items-center justify-content-center ">
            <div class="col col-10 col-lg-4  rounded-3 bg-grad text-dark p-1 p-md-4 shadow-lg">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="w-100 btn mb-3 btn-lg btn-primary" type="submit">Sign Up</button>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a> <br/>
                        <!-- Button trigger modal -->
                            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Terms and conditions.
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      This website uses encrypted passwords, so even the developer won't be able to see your password.
                                      Please note that photos that contain any form of pornographic content or offensive content will be removed immediately and your account may be banned.
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}