{% extends 'main/base.html' %}
{% block welcomeText %}
    <h3 class="text-center">Welcome, {{ username }}!</h3>
{% endblock %}
{% block regBtn %}
    <a class="btn btn-light" href='{% url 'upload' %}'>Upload</a>
{% endblock %}

{% block btnToRight %}
    <a class="btn btn-light" href='{% url 'logout' %}'>Log out</a>
{% endblock %}

{% block content %}
    <div class="float-container">
    {% for i in image %}
        <div class="float-child text-center" >
            <div class="bg-grad ce">
            <p style="font-size: 30px">{{ i.title }}</p>
            <p style="font-style: oblique">Created: {{ i.captured_date|date:"M d, Y" }}</p>
            <a href="{{ i.image.url }}"><img src="{{ i.image.url }}" alt="image" height="250" width="350" class="btn center"></a>
            <h4><a class="btn btn-prime" href="">Edit</a><a class="btn btn-prime" href="">Delete</a><a class="btn btn-prime" href="">Share</a></h4>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{#text-center mt-2#}